@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@layer components {
  .authButton {
    @apply text-sm bg-gray-700 text-white py-2 px-6 rounded-xl disabled:opacity-25;
  }
}